@model LoginUser

<form action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email"></span>
        <input type="text" asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <span asp-validation-for="Password"></span>
        <input type="password" asp-for="Password" class="form-control">
    </div>
    <input type="submit" value="Sign up Now" class="btn btn-success">
</form>

<marquee direction="scroll">
    <img src="https://media1.tenor.com/images/abb9bb0bb79865bfc4ac963d4c30eb7a/tenor.gif?itemid=11191352" height="75" width="75">
</marquee>